<ion-toolbar>
  <ion-title>My Profile</ion-title>
  <ion-buttons slot="primary">
    <ion-button routerLink="/tabs/about">
      <ion-icon name="information" slot="icon-only" ></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button (click)="onLogout()">
      <ion-icon color="danger" name="log-out" slot="icon-only" ></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<style>
  .circle-pic{
    width: 200px;
    height: 200px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 8px gray;
    margin-left: auto;
    margin-right: auto;
  }
  .vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
</style>
<ion-content>
  <ion-grid class="ion-margin-horizontal" *ngIf="userData">
  <!-- Data Profile User -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="7" size-sm="2">
        <ion-row class="ion-justify-content-end ion-align-items-end" style="padding-top: 20px">
          <ion-fab-button color="secondary" style="position: absolute; z-index: 1" (click)="presentFotoActionSheet()">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
          <input type="file" *ngIf="isDesktop" #filePicker (change)="onFileChoose($event)"/>
          <div class="vertical-center ion-justify-content-center">
            <ion-img class="circle-pic" src="assets/icon/avatar_male.png" *ngIf="!photo"></ion-img>
            <img alt="" id="profilePicture" src="{{photo}}" class="circle-pic" *ngIf="photo" (load)="imageLoaded()">
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="3">
        <ion-text class="ion-text-center">
          <h2 class="ion-no-margin ion-margin-top">{{ userData.name }}</h2>
        </ion-text>
        <ion-text class="ion-text-center" style="color: #7d7d7d; font-size: 20px;">
          <p class="ion-no-margin ion-padding-bottom">00000026188</p>
        </ion-text>
        <div class="ion-padding ion-margin-top border-full">
        <ion-card-title class="ion-margin-bottom" style="font-size: 1em; font-weight: bold">My Feeds</ion-card-title>
        <div *ngIf="!userData.locations" style="font-size:0.8em">There is no history feed :(</div>
          <div *ngIf="userData.locations" style="padding-bottom: 50px">
            <ion-item lines="none" class="border-item" style="font-size: 0.8em;" *ngFor="let eachLocation of userData.locations; let i = index" (press)="onPress(i)">
              <ion-label>
                <div style="padding-top: 4px; font-size: 1.1em">{{ eachLocation.nama }}</div>
                <span style="font-size: 0.9em">{{ eachLocation.tanggal }}</span>
              </ion-label>
            </ion-item>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
