<ion-toolbar>
  <ion-title>Information</ion-title>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-header>
        <ion-card-title>Achmad Ilyasa Nugraha</ion-card-title>
        <ion-card-subtitle>00000026188</ion-card-subtitle>
      </ion-card-header>
      <ion-card-header>
        <ion-card-title>Kesan</ion-card-title>
        <ion-card-content class="ion-text-justify">
          Sangat bangga bisa belajar di matakuliah Mobile Cross Platform ini. Para dosen dan aslab
          tidak lelah menjawab pertanyaan mahasiswa dan selalu membantu kegiatan belajar
          kepada mahasiswa dengan maksimal. Sungguh ilmu yang sangat bermanfaat dan semoga saya bisa
          menerapkan ilmunya di tempat kerja saya nanti dengan baik.
        </ion-card-content>
        <ion-card-title>Pesan</ion-card-title>
        <ion-card-content class="ion-text-justify">
          Terima kasih telah menjadi dosen dan aslab matakuliah Mobile Cross Platform selama 1 semester ini.
          Semoga apa yang dicita citakan akan terwujud dan sukses selalu,Amin.
        </ion-card-content>
      </ion-card-header>
    </ion-card-header>
  </ion-card>
</ion-content>
